#tradingview {
  background: #fff;
}
#tradingview h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  color: #404041;
}
#tradingview h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  color: #404041;
}
#tradingview p {
  font-size: 18px;
  line-height: 1.56;
  color: #404041;
}
#tradingview .btn.btn-gold {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #414141;
  padding: 10px 20px;
}
#tradingview .large-tablet-version {
  display: none;
}
#tradingview .phone-version {
  display: none;
}
#tradingview .banner1 {
  background: #ffffff url("/sites/all/themes/finq2020/Content/Images/Pages/tradingview/banner-1.jpg") no-repeat scroll center center / cover;
  padding-top: 80px;
  margin-bottom: -20px;
}
#tradingview .banner1 .title {
  padding-bottom: 26px;
}
#tradingview .banner1 .row-1 {
  padding-bottom: 113px;
}
#tradingview .banner1 .row-1 .txt-area {
  padding-right: 5%;
}
#tradingview .banner1 .row-1 .img-area {
  text-align: center;
  padding-top: 39px;
}
#tradingview .banner1 .row-2 .img-area img {
  margin-left: -157px;
  position: relative;
  z-index: 10;
}
#tradingview .banner1 .row-2 .txt-area {
  padding-top: 42px;
  padding-right: 3%;
  text-align: right;
}
#tradingview .banner1 .btn-area {
  text-align: right;
  padding-top: 34px;
  padding-right: 3%;
}
#tradingview .banner2 {
  background: #ffffff url("/sites/all/themes/finq2020/Content/Images/Pages/tradingview/banner-2.jpg") no-repeat scroll center center / cover;
  padding: 59px 0 65px;
  border-top: 3px solid #d3a261;
}
#tradingview .banner2 .title,
#tradingview .banner2 .paragraph {
  color: #fff;
}
#tradingview .banner2 .title {
  padding-bottom: 21px;
}
#tradingview .banner2 .txt-area {
  text-align: center;
  padding: 0 13%;
}
#tradingview .banner3 {
  padding-top: 91px;
  padding-bottom: 110px;
}
#tradingview .banner3 .header {
  padding-bottom: 43px;
}
#tradingview .banner3 .header .title {
  text-align: center;
}
#tradingview .banner3 .text-area {
  padding: 30px 90px 0 22px;
}
#tradingview .banner3 .text-area .banner3-row {
  padding: 22.6px 19.3px;
  margin-bottom: 20px;
  cursor: pointer;
}
#tradingview .banner3 .text-area .banner3-row .title {
  padding-bottom: 5px;
}
#tradingview .banner3 .text-area .banner3-row .paragraph {
  line-height: 1.39;
}
#tradingview .banner3 .text-area .banner3-row.active {
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #f4f4f5;
}
#tradingview .banner3 .image-area img {
  display: none;
}
#tradingview .banner3 .image-area img.active {
  display: block;
}
#tradingview .banner3 .image-area.show-img-1 .banner3-img-1 {
  display: block;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
#tradingview .banner3 .image-area.show-img-2 .banner3-img-2 {
  display: block;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
#tradingview .banner3 .image-area.show-img-3 .banner3-img-3 {
  display: block;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
#tradingview .banner4 {
  background: #f4f4f5;
  padding: 48px 0 50px;
}
#tradingview .banner4 .title,
#tradingview .banner4 .paragraph,
#tradingview .banner4 .btn-area {
  text-align: center;
}
#tradingview .banner4 .container {
  width: 500px;
}
#tradingview .banner4 .txt-area {
  padding-bottom: 26px;
}
#tradingview .banner4 .title {
  padding-bottom: 10px;
}
.i18n-ru #tradingview .banner1 .row-2 .txt-area {
  padding-top: 0;
}
.i18n-ru #tradingview .banner1 .row-2 .txt-area .title {
  margin-left: -30px;
}
.i18n-ru #tradingview .banner1 .row-2 .txt-area p {
  margin-left: -30px;
}
.i18n-vi #tradingview .banner1 .row-2 .txt-area .title {
  margin-left: -30px;
}
.i18n-vi #tradingview .banner1 .row-2 .txt-area p {
  margin-left: -30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 150dpi) {
  #tradingview .banner1 {
    background: #ffffff url("/sites/all/themes/finq2020/Content/Images/Pages/tradingview/banner-1@2x.jpg") no-repeat scroll center center / cover;
  }
  #tradingview .banner2 {
    background: #ffffff url("/sites/all/themes/finq2020/Content/Images/Pages/tradingview/banner-2@2x.jpg") no-repeat scroll center center / cover;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 192dpi) {
  #tradingview .banner1 {
    background: #ffffff url("/sites/all/themes/finq2020/Content/Images/Pages/tradingview/banner-1@3x.jpg") no-repeat scroll center center / cover;
  }
  #tradingview .banner2 {
    background: #ffffff url("/sites/all/themes/finq2020/Content/Images/Pages/tradingview/banner-2@3x.jpg") no-repeat scroll center center / cover;
  }
}
@media only screen and (max-width: 1280px) {
  #tradingview .banner1 .row-2 .img-area img {
    margin-left: -87px;
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  #tradingview .col-12-large-tablet {
    width: 100%;
  }
  #tradingview .large-tablet-version {
    display: block;
  }
  #tradingview .pc-version {
    display: none;
  }
  #tradingview .container {
    width: 650px;
  }
  #tradingview h2,
  #tradingview h3,
  #tradingview p {
    text-align: center;
  }
  #tradingview h2 {
    font-size: 30px;
  }
  #tradingview h3 {
    font-size: 22px;
  }
  #tradingview p {
    font-size: 16px;
    line-height: 1.33;
  }
  #tradingview .banner1 {
    margin-bottom: 0;
    padding-bottom: 60px;
  }
  #tradingview .banner1 .row-1 {
    padding-bottom: 33px;
  }
  #tradingview .banner1 .row-1 .txt-area {
    padding: 0 10%;
  }
  #tradingview .banner1 .row-2 {
    display: flex;
    flex-direction: column;
  }
  #tradingview .banner1 .row-2 .img-area {
    text-align: center;
  }
  #tradingview .banner1 .row-2 .img-area img {
    margin-left: 0;
  }
  #tradingview .banner1 .row-2 .title {
    order: 1;
  }
  #tradingview .banner1 .row-2 .paragraph {
    order: 2;
  }
  #tradingview .banner1 .row-2 .img-area {
    order: 3;
  }
  #tradingview .banner1 .row-2 .btn-area {
    order: 4;
  }
  #tradingview .banner1 .row-2 .btn-area {
    text-align: center;
    padding-right: 0;
  }
  #tradingview .banner1 .row-2 .txt-area {
    padding: 0 10% 40px;
  }
  #tradingview .banner3 .image-area img {
    width: 100%;
  }
  #tradingview .banner3 .text-area {
    padding: 0;
  }
  #tradingview .banner3 .text-area .banner3-row {
    width: 33.33%;
    min-height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  #tradingview h2 {
    font-size: 28px;
  }
  #tradingview h3 {
    font-size: 20px;
  }
  #tradingview p {
    font-size: 15px;
    line-height: 1.33;
  }
  #tradingview .container {
    width: 580px;
  }
  #tradingview .banner1 {
    padding-top: 43px;
  }
  #tradingview .banner1 .title {
    padding-bottom: 17px;
  }
  #tradingview .banner1 .row-1 {
    padding-bottom: 62px;
  }
  #tradingview .banner1 .row-1 .img-area {
    padding-top: 27px;
  }
  #tradingview .banner1 .row-1 .img-area img {
    width: 187px;
  }
  #tradingview .banner1 .row-2 .txt-area {
    padding: 0 0 40px;
  }
  #tradingview .banner2 {
    padding: 47px 0 54px;
  }
  #tradingview .banner2 .txt-area {
    padding: 0;
  }
  #tradingview .banner3 {
    padding-top: 66px;
    padding-bottom: 110px;
  }
  #tradingview .banner3 .text-area .banner3-row {
    min-height: 132px;
    padding: 15px;
    margin-bottom: 40px;
  }
  #tradingview .banner3 .image-area img {
    width: 100%;
    margin: auto;
  }
  .i18n-ru #tradingview .banner3 .text-area .banner3-row {
    min-height: 170px;
  }
  .i18n-ru #tradingview .banner1 .row-2 .txt-area .title {
    margin-left: 0;
  }
  .i18n-ru #tradingview .banner1 .row-2 .txt-area p {
    margin-left: 0;
  }
  .i18n-vi #tradingview .banner1 .row-2 .txt-area .title,
  .i18n-vi #tradingview .banner1 .row-2 .txt-area p {
    margin-left: 0;
  }
  .i18n-ms #tradingview .banner3 .text-area .banner3-row,
  .i18n-vi #tradingview .banner3 .text-area .banner3-row {
    min-height: 140px;
  }
}
@media only screen and (max-width: 600px) {
  #tradingview h2 {
    font-size: 23px;
  }
  #tradingview h3 {
    font-size: 17px;
  }
  #tradingview p {
    font-size: 13px;
    line-height: 1.33;
  }
  #tradingview .col-12-phone {
    width: 100%;
  }
  #tradingview .large-tablet-version {
    display: none;
  }
  #tradingview .phone-version {
    display: block;
  }
  #tradingview .container,
  #tradingview .banner4 .container {
    width: 100%;
    max-width: 315px;
  }
  #tradingview .banner1 {
    padding-top: 42px;
    padding-bottom: 51px;
  }
  #tradingview .banner1 .title {
    padding-bottom: 15px;
  }
  #tradingview .banner1 .row-1 {
    padding-bottom: 52px;
  }
  #tradingview .banner1 .row-1 .txt-area {
    padding: 0;
  }
  #tradingview .banner1 .row-1 .img-area {
    padding-top: 21px;
  }
  #tradingview .banner1 .row-1 .img-area img {
    width: 129px;
  }
  #tradingview .banner1 .row-2 .img-area img {
    margin-left: -26px;
    width: unset;
  }
  #tradingview .banner2 {
    padding: 44px 0;
  }
  #tradingview .banner2 .title {
    padding: 0 5% 15px;
  }
  #tradingview .banner3 {
    padding-top: 45px;
    padding-bottom: 46px;
  }
  #tradingview .banner3 .container {
    width: 100%;
    max-width: unset;
    padding: 0;
  }
  #tradingview .banner3 .image-area {
    padding: 0 30px;
  }
  #tradingview .banner3 .text-area .banner3-row {
    width: 204px;
    min-height: 110px;
    border-radius: 8px;
    background-color: #f4f4f5;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    margin: 0 10px 41px;
  }
  #tradingview .banner3 .text-area .banner3-row:active,
  #tradingview .banner3 .text-area .banner3-row:focus {
    border: 0;
    outline: none;
  }
  #tradingview .banner4 {
    padding: 39px 0 42px;
  }
  #tradingview .banner4 .title {
    padding-bottom: 12px;
  }
  .i18n-ur #tradingview .banner1 .row-2 .img-area img,
  .i18n-ar #tradingview .banner1 .row-2 .img-area img {
    margin-left: 0;
    margin-right: -26px;
    width: unset;
  }
  .i18n-ur .slick-track,
  .i18n-ar .slick-track {
    left: -38px;
  }
  .i18n-ru #tradingview .banner3 .text-area .banner3-row {
    min-height: 160px;
  }
  .i18n-ms #tradingview .banner3 .text-area .banner3-row,
  .i18n-vi #tradingview .banner3 .text-area .banner3-row {
    min-height: 120px;
  }
}
/*# sourceMappingURL=tradingview.css.map */