body {
  font-family: Roboto,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.7em;
}

h1,h2,h3,h4,h5 {
  font-family: 'Titillium Web','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1#page-title {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1em;
}

H2 {
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2em;
  text-align: left;
}

h2.portfolio-title,h2.blog-title {
  font-size: 22px;
  font-weight: 500;
}

.serif {
  font-family: 'Droid Serif',Georgia, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8em;
}

#globalfooterbottom {
  font-size: 11px;
  font-weight: 400;
  line-height: 1em;
}

.script {
  font-family: Merienda;
  font-weight: 400;
}

.handwrite {
  font-family: 'Gochi Hand';
  font-weight: 400;
}

.breadcrumb a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.8px;
}

.key_text_36 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 36px;
  letter-spacing: -2px;
}

.key_text_36_b {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 36px;
  letter-spacing: -1px;
}

.key-marketnews-item h5 {
  font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

#globalfullwrapper {
  background-repeat: repeat;
}
#headertopwrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#headertopwrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#headertopwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#headertopwrapper .line {
  border-bottom-color: #ebebeb;
}
#headertopwrapper .line span {
  background-color: #fff;
}
#headertopwrapper .title-line .block-title span {
  background-color: #fff;
}
#headertopcontainer {
  padding-top   : 30px;
  padding-bottom: 40px;
  background-color: #fff;
  color: #808080;
}
#headertopcontainer *:not(.btn) {
  border-color: #ebebeb;
}
#headertopcontainer a.bg-link-inner:not(.btn) {
  color: #fff;
}
#headertopcontainer .line {
  border-bottom-color: #ebebeb;
}
#headertopcontainer .line span {
  background-color: #fff;
}
#headertopcontainer .inner-bg {
  background-color: #fff;
}
#headertopcontainer .text-color:not(.btn) {
  color: #808080;
}
#headertopcontainer .btn-filter {
  color: #808080;
}
#headertopcontainer .btn-filter.active {
  border-color: #808080;
}
#headertopcontainer .heavy {
  color: #585858;
}
#headertopcontainer a:not(.btn) {
  color: #808080;
}
#headertopcontainer a:hover:not(.btn) {
  color: #3498db;
}
#headertopcontainer .hover-color:not(.btn) {
  color: #3498db;
}
#globalheaderwrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#globalheaderwrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#globalheaderwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#globalheaderwrapper .line {
  border-bottom-color: #ebebeb;
}
#globalheaderwrapper .line span {
  background-color: #fff;
}
#globalheaderwrapper .title-line .block-title span {
  background-color: #fff;
}
#globalheadercontainer {
  background-color: #fff;
}
#globalheadercontainer *:not(.btn) {
  border-color: #ebebeb;
}
#globalheadercontainer a.bg-link-inner:not(.btn) {
  color: #fff;
}
#globalheadercontainer .line {
  border-bottom-color: #ebebeb;
}
#globalheadercontainer .line span {
  background-color: #fff;
}
#globalheadercontainer .inner-bg {
  background-color: #fff;
}
#globalheadercontainer a:not(.btn) {
  color: #808080;
}
#fullwidthslider1wrapper {
  background-repeat: repeat;
}
#globalpageheaderwrapper {
  background-color: #008f52;
  background-repeat: repeat;
}
#globalpageheaderwrapper a.bg-link-outer:not(.btn) {
  color: #008f52;
}
#globalpageheaderwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #00ac63;
}
#globalpageheaderwrapper .line {
  border-bottom-color: #00ac63;
}
#globalpageheaderwrapper .line span {
  background-color: #008f52;
}
#globalpageheaderwrapper .title-line .block-title span {
  background-color: #008f52;
}
#globalpageheadercontainer {
  padding-top   : 40px;
  padding-bottom: 30px;
  background-color: #008f52;
  color: #fff;
}
#globalpageheadercontainer *:not(.btn) {
  border-color: #00ac63;
}
#globalpageheadercontainer a.bg-link-inner:not(.btn) {
  color: #008f52;
}
#globalpageheadercontainer .line {
  border-bottom-color: #00ac63;
}
#globalpageheadercontainer .line span {
  background-color: #008f52;
}
#globalpageheadercontainer .inner-bg {
  background-color: #008f52;
}
#globalpageheadercontainer .text-color:not(.btn) {
  color: #fff;
}
#globalpageheadercontainer .btn-filter {
  color: #fff;
}
#globalpageheadercontainer .btn-filter.active {
  border-color: #fff;
}
#globalpageheadercontainer .heavy {
  color: #616161;
}
#globalpageheadercontainer a:not(.btn) {
  color: #90e9c3;
}
#globalpageheadercontainer a:hover:not(.btn) {
  color: #17e3b2;
}
#globalpageheadercontainer .hover-color:not(.btn) {
  color: #17e3b2;
}
#mapwrapper {
  background-repeat: repeat;
}
#promogroup1wrapper {
  background-attachment: fixed;
}
#promogroup1container {
  padding-top   : 45px;
  padding-bottom: 45px;
  color: #555;
}
#promogroup1container .text-color:not(.btn) {
  color: #555;
}
#promogroup1container .btn-filter {
  color: #555;
}
#promogroup1container .btn-filter.active {
  border-color: #555;
}
#promogroup1container .heavy {
  color: #b3b3b3;
}
#promogroup2wrapper {
  background-color: #f7f7f7;
  background-repeat: repeat;
}
#promogroup2wrapper a.bg-link-outer:not(.btn) {
  color: #f7f7f7;
}
#promogroup2wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e3e3e3;
}
#promogroup2wrapper .line {
  border-bottom-color: #e3e3e3;
}
#promogroup2wrapper .line span {
  background-color: #f7f7f7;
}
#promogroup2wrapper .title-line .block-title span {
  background-color: #f7f7f7;
}
#promogroup2container {
  padding-top   : 40px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}
#promogroup2container *:not(.btn) {
  border-color: #e3e3e3;
}
#promogroup2container a.bg-link-inner:not(.btn) {
  color: #f7f7f7;
}
#promogroup2container .line {
  border-bottom-color: #e3e3e3;
}
#promogroup2container .line span {
  background-color: #f7f7f7;
}
#promogroup2container .inner-bg {
  background-color: #f7f7f7;
}
#postscripttopwrapper {
  background-attachment: fixed;
}
#mainwrapper {
  background-color: #f8f9fa;
  background-repeat: repeat;
}
#mainwrapper a.bg-link-outer:not(.btn) {
  color: #f8f9fa;
}
#mainwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e1e5e9;
}
#mainwrapper .line {
  border-bottom-color: #e1e5e9;
}
#mainwrapper .line span {
  background-color: #f8f9fa;
}
#mainwrapper .title-line .block-title span {
  background-color: #f8f9fa;
}
#maincontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #999;
}
#maincontainer .text-color:not(.btn) {
  color: #999;
}
#maincontainer .btn-filter {
  color: #999;
}
#maincontainer .btn-filter.active {
  border-color: #999;
}
#maincontainer .heavy {
  color: #606060;
}
#maincontainer a:not(.btn) {
  color: #34495e;
}
#maincontainer a:hover:not(.btn) {
  color: #3498db;
}
#maincontainer .hover-color:not(.btn) {
  color: #3498db;
}
#uigroup2wrapper {
  background-color: #000;
  background-attachment: fixed;
}
#uigroup2wrapper a.bg-link-outer:not(.btn) {
  color: #000;
}
#uigroup2wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #141414;
}
#uigroup2wrapper .line {
  border-bottom-color: #141414;
}
#uigroup2wrapper .line span {
  background-color: #000;
}
#uigroup2wrapper .title-line .block-title span {
  background-color: #000;
}
#uigroup2container {
  padding-top   : 200px;
  padding-bottom: 200px;
  color: #adadad;
}
#uigroup2container .text-color:not(.btn) {
  color: #adadad;
}
#uigroup2container .btn-filter {
  color: #adadad;
}
#uigroup2container .btn-filter.active {
  border-color: #adadad;
}
#uigroup2container .heavy {
  color: #646464;
}
#uigroup2container .light {
  color: #fefefe;
}
#uigroup2container .light-color {
  color: #fefefe;
}
#uigroup2container .light-bg {
  background-color: #fefefe;
}
#uigroup2container .light-border {
  border-color: #fefefe;
}
#uigroup2container .light-color-block-title .block-title {
  color: #fefefe;
}
#mainbottomwrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#mainbottomwrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#mainbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#mainbottomwrapper .line {
  border-bottom-color: #ebebeb;
}
#mainbottomwrapper .line span {
  background-color: #fff;
}
#mainbottomwrapper .title-line .block-title span {
  background-color: #fff;
}
#mainbottomcontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.32);
  color: #999;
}
#mainbottomcontainer *:not(.btn) {
  border-color: rgba(235, 235, 235, 0.32);
}
#mainbottomcontainer a.bg-link-inner:not(.btn) {
  color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .line {
  border-bottom-color: rgba(235, 235, 235, 0.32);
}
#mainbottomcontainer .line span {
  background-color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .inner-bg {
  background-color: rgba(255, 255, 255, 0.32);
}
#mainbottomcontainer .text-color:not(.btn) {
  color: #999;
}
#mainbottomcontainer .btn-filter {
  color: #999;
}
#mainbottomcontainer .btn-filter.active {
  border-color: #999;
}
#mainbottomcontainer .heavy {
  color: #606060;
}
#mainbottomcontainer .dark {
  color: #606060;
}
#mainbottomcontainer .dark-color {
  color: #606060;
}
#mainbottomcontainer .dark-bg {
  background-color: #606060;
}
#mainbottomcontainer .dark-border {
  border-color: #606060;
}
#mainbottomcontainer .light {
  color: #bfbfbf;
}
#mainbottomcontainer .light-color {
  color: #bfbfbf;
}
#mainbottomcontainer .light-bg {
  background-color: #bfbfbf;
}
#mainbottomcontainer .light-border {
  border-color: #bfbfbf;
}
#mainbottomcontainer .light-color-block-title .block-title {
  color: #bfbfbf;
}
#browncenteredwrapper {
  background-repeat: no-repeat;
  background-size: cover;
}
#browncenteredcontainer {
  padding-top   : 40px;
  padding-bottom: 40px;
}
#uigroup1wrapper {
  background-attachment: fixed;
}
#uigroup1container {
  padding-top   : 100px;
  padding-bottom: 100px;
  color: #999;
}
#uigroup1container .text-color:not(.btn) {
  color: #999;
}
#uigroup1container .btn-filter {
  color: #999;
}
#uigroup1container .btn-filter.active {
  border-color: #999;
}
#uigroup1container .heavy {
  color: #606060;
}
#bottomfluidwrapper {
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#bottomfluidwrapper a.bg-link-outer:not(.btn) {
  color: #f8f9fa;
}
#bottomfluidwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e1e5e9;
}
#bottomfluidwrapper .line {
  border-bottom-color: #e1e5e9;
}
#bottomfluidwrapper .line span {
  background-color: #f8f9fa;
}
#bottomfluidwrapper .title-line .block-title span {
  background-color: #f8f9fa;
}
#bottomfluidcontainer {
  color: #999;
}
#bottomfluidcontainer .text-color:not(.btn) {
  color: #999;
}
#bottomfluidcontainer .btn-filter {
  color: #999;
}
#bottomfluidcontainer .btn-filter.active {
  border-color: #999;
}
#bottomfluidcontainer .heavy {
  color: #606060;
}
#bottomgroup1wrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#bottomgroup1wrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#bottomgroup1wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#bottomgroup1wrapper .line {
  border-bottom-color: #ebebeb;
}
#bottomgroup1wrapper .line span {
  background-color: #fff;
}
#bottomgroup1wrapper .title-line .block-title span {
  background-color: #fff;
}
#bottomgroup1container {
  padding-top   : 45px;
  padding-bottom: 45px;
  color: #999;
}
#bottomgroup1container .text-color:not(.btn) {
  color: #999;
}
#bottomgroup1container .btn-filter {
  color: #999;
}
#bottomgroup1container .btn-filter.active {
  border-color: #999;
}
#bottomgroup1container .heavy {
  color: #606060;
}
#bottomgroup2wrapper {
  background-repeat: repeat;
}
#bottomgroup3wrapper {
  background-color: #fff;
  background-repeat: repeat;
}
#bottomgroup3wrapper a.bg-link-outer:not(.btn) {
  color: #fff;
}
#bottomgroup3wrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #ebebeb;
}
#bottomgroup3wrapper .line {
  border-bottom-color: #ebebeb;
}
#bottomgroup3wrapper .line span {
  background-color: #fff;
}
#bottomgroup3wrapper .title-line .block-title span {
  background-color: #fff;
}
#bottomgroup3container {
  padding-top   : 55px;
  padding-bottom: 55px;
  color: #999;
}
#bottomgroup3container .text-color:not(.btn) {
  color: #999;
}
#bottomgroup3container .btn-filter {
  color: #999;
}
#bottomgroup3container .btn-filter.active {
  border-color: #999;
}
#bottomgroup3container .heavy {
  color: #606060;
}
#bottomgroup3container a:not(.btn) {
  color: #000;
}
#bottomgroup3container a:hover:not(.btn) {
  color: #3498db;
}
#bottomgroup3container .hover-color:not(.btn) {
  color: #3498db;
}
#bottomgroup3container .dark {
  color: #606060;
}
#bottomgroup3container .dark-color {
  color: #606060;
}
#bottomgroup3container .dark-bg {
  background-color: #606060;
}
#bottomgroup3container .dark-border {
  border-color: #606060;
}
#bottomgroup3container .light {
  color: #d4d4d4;
}
#bottomgroup3container .light-color {
  color: #d4d4d4;
}
#bottomgroup3container .light-bg {
  background-color: #d4d4d4;
}
#bottomgroup3container .light-border {
  border-color: #d4d4d4;
}
#bottomgroup3container .light-color-block-title .block-title {
  color: #d4d4d4;
}
#postscriptbottomwrapper {
  background-color: #f8f9fa;
  background-repeat: no-repeat;
  background-size: cover;
}
#postscriptbottomwrapper a.bg-link-outer:not(.btn) {
  color: #f8f9fa;
}
#postscriptbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #e1e5e9;
}
#postscriptbottomwrapper .line {
  border-bottom-color: #e1e5e9;
}
#postscriptbottomwrapper .line span {
  background-color: #f8f9fa;
}
#postscriptbottomwrapper .title-line .block-title span {
  background-color: #f8f9fa;
}
#postscriptbottomcontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #999;
}
#postscriptbottomcontainer .text-color:not(.btn) {
  color: #999;
}
#postscriptbottomcontainer .btn-filter {
  color: #999;
}
#postscriptbottomcontainer .btn-filter.active {
  border-color: #999;
}
#postscriptbottomcontainer .heavy {
  color: #606060;
}
#postscriptbottomcontainer a:not(.btn) {
  color: #34495e;
}
#postscriptbottomcontainer a:hover:not(.btn) {
  color: #3498db;
}
#postscriptbottomcontainer .hover-color:not(.btn) {
  color: #3498db;
}
#postscriptbottomcontainer .dark {
  color: #8f8f8f;
}
#postscriptbottomcontainer .dark-color {
  color: #8f8f8f;
}
#postscriptbottomcontainer .dark-bg {
  background-color: #8f8f8f;
}
#postscriptbottomcontainer .dark-border {
  border-color: #8f8f8f;
}
#postscriptbottomcontainer .light {
  color: #fff;
}
#postscriptbottomcontainer .light-color {
  color: #fff;
}
#postscriptbottomcontainer .light-bg {
  background-color: #fff;
}
#postscriptbottomcontainer .light-border {
  border-color: #fff;
}
#postscriptbottomcontainer .light-color-block-title .block-title {
  color: #fff;
}
#callsupportwrapper {
  background-repeat: no-repeat;
  background-size: cover;
}
#callsupportcontainer {
  padding-top   : 30px;
  padding-bottom: 35px;
}
#globalfootertopwrapper {
  background-repeat: no-repeat;
  background-size: cover;
}
#globalfootertopcontainer {
  padding-top   : 40px;
  padding-bottom: 40px;
}
#globalfooterwrapper {
  background-color: #262626;
  background-repeat: repeat;
}
#globalfooterwrapper a.bg-link-outer:not(.btn) {
  color: #262626;
}
#globalfooterwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #373737;
}
#globalfooterwrapper .line {
  border-bottom-color: #373737;
}
#globalfooterwrapper .line span {
  background-color: #262626;
}
#globalfooterwrapper .title-line .block-title span {
  background-color: #262626;
}
#globalfootercontainer {
  padding-top   : 30px;
  padding-bottom: 30px;
  color: #ecf0f1;
}
#globalfootercontainer .text-color:not(.btn) {
  color: #ecf0f1;
}
#globalfootercontainer .btn-filter {
  color: #ecf0f1;
}
#globalfootercontainer .btn-filter.active {
  border-color: #ecf0f1;
}
#globalfootercontainer .heavy {
  color: #556e74;
}
#globalfootercontainer a:not(.btn) {
  color: #95a5a6;
}
#globalfootercontainer a:hover:not(.btn) {
  color: #95a5a6;
}
#globalfootercontainer .hover-color:not(.btn) {
  color: #95a5a6;
}
#globalfooterbottomwrapper {
  background-color: #1a1a1a;
  background-repeat: repeat;
}
#globalfooterbottomwrapper a.bg-link-outer:not(.btn) {
  color: #1a1a1a;
}
#globalfooterbottomwrapper *:not(.btn):not(.alert):not(.well):not(.popover) {
  border-color: #2c2c2c;
}
#globalfooterbottomwrapper .line {
  border-bottom-color: #2c2c2c;
}
#globalfooterbottomwrapper .line span {
  background-color: #1a1a1a;
}
#globalfooterbottomwrapper .title-line .block-title span {
  background-color: #1a1a1a;
}
#globalfooterbottomcontainer {
  padding-top   : 20px;
  padding-bottom: 20px;
  background-color: #1a1a1a;
  color: #999;
}
#globalfooterbottomcontainer *:not(.btn) {
  border-color: #2c2c2c;
}
#globalfooterbottomcontainer a.bg-link-inner:not(.btn) {
  color: #1a1a1a;
}
#globalfooterbottomcontainer .line {
  border-bottom-color: #2c2c2c;
}
#globalfooterbottomcontainer .line span {
  background-color: #1a1a1a;
}
#globalfooterbottomcontainer .inner-bg {
  background-color: #1a1a1a;
}
#globalfooterbottomcontainer .text-color:not(.btn) {
  color: #999;
}
#globalfooterbottomcontainer .btn-filter {
  color: #999;
}
#globalfooterbottomcontainer .btn-filter.active {
  border-color: #999;
}
#globalfooterbottomcontainer .heavy {
  color: #606060;
}
#globalfooterbottomcontainer a:not(.btn) {
  color: #999;
}
#globalfooterbottomcontainer a:hover:not(.btn) {
  color: #999;
}
#globalfooterbottomcontainer .hover-color:not(.btn) {
  color: #999;
}
#falsewrapper {
  background-repeat: repeat;
}
