#mac-metatrader h3 {
  font-size: 35px;
  color: #404041;
  line-height: 1.2;
  margin: 0;
  font-weight: 600;
}
#mac-metatrader p {
  font-size: 18px;
  color: #404041;
  font-weight: normal;
}
#mac-metatrader .btn-gold {
  font-size: 15px;
  padding: 14px 25px;
}
#mac-metatrader .btn-gold:hover {
  background-color: #d29836;
  border-color: #d29836;
}
#mac-metatrader .banner-block {
  padding-top: 67px;
  padding-bottom: 97px;
  background: url('/sites/all/themes/finq2020/Content/Images/Pages/mac-metatrader/mac-mt-bg.jpg') no-repeat center / cover;
}
#mac-metatrader .banner-block .text-area h3 {
  padding-bottom: 33px;
}
#mac-metatrader .banner-block .text-area p {
  padding-bottom: 63px;
}
#mac-metatrader .banner-block .img-area {
  text-align: center;
}
#mac-metatrader .banner-block .img-area img {
  padding-top: 30px;
}
#mac-metatrader .banner-block .img-area p.small {
  font-size: 12px;
}
#mac-metatrader .how-to-install {
  padding-top: 90px;
  padding-bottom: 135px;
}
#mac-metatrader .how-to-install .text-area h3 {
  padding-bottom: 25px;
}
#mac-metatrader .how-to-install .text-area h3 b {
  font-weight: bold;
}
#mac-metatrader .how-to-install .text-area p {
  padding-bottom: 20px;
}
#mac-metatrader .how-to-install .text-area p b {
  font-weight: bold;
}
#mac-metatrader .how-to-install .text-area .btn-area {
  text-align: center;
}
#mac-metatrader .how-to-install .block-row {
  display: flex;
  align-items: center;
}
#mac-metatrader .how-to-install .block-1 {
  padding-bottom: 117px;
}
#mac-metatrader .how-to-install .block-1 .text-area {
  padding-right: 40px;
}
#mac-metatrader .how-to-install .block-2 {
  padding-bottom: 112px;
}
#mac-metatrader .how-to-install .block-2 .text-area {
  padding-left: 40px;
}
#mac-metatrader .how-to-install .block-3 {
  padding-bottom: 117px;
}
#mac-metatrader .how-to-install .block-3 .text-area {
  padding-right: 40px;
}
#mac-metatrader .how-to-install .block-4 .text-area {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  #mac-metatrader .show-tablet {
    display: inline-block;
  }
  #mac-metatrader .banner-block .text-area {
    width: 65%;
  }
  #mac-metatrader .banner-block .img-area {
    width: 35%;
  }
  #mac-metatrader .how-to-install .text-area {
    text-align: center;
  }
  #mac-metatrader .how-to-install .text-area p,
  #mac-metatrader .how-to-install .text-area a,
  #mac-metatrader .how-to-install .text-area h3 {
    text-align: center;
  }
  #mac-metatrader .how-to-install .block-row {
    display: block;
  }
  #mac-metatrader .how-to-install .block-row .text-area {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #mac-metatrader .how-to-install .block-row .img-area {
    width: 100%;
    text-align: center;
  }
  #mac-metatrader .how-to-install .block-1 {
    padding-bottom: 142px;
  }
  #mac-metatrader .how-to-install .block-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
  }
  #mac-metatrader .how-to-install .block-2 .text-area {
    order: 1;
  }
  #mac-metatrader .how-to-install .block-2 .img-area {
    order: 2;
  }
}
@media screen and (max-width: 500px) {
  #mac-metatrader .show-tablet {
    display: none;
  }
  #mac-metatrader .show-mobile {
    display: inline-block;
  }
  #mac-metatrader h3 {
    font-size: 23px;
    text-align: center;
  }
  #mac-metatrader p {
    font-size: 13px;
    text-align: center;
  }
  #mac-metatrader .btn-area {
    text-align: center;
  }
  #mac-metatrader .btn-area .btn-gold {
    font-size: 14px;
  }
  #mac-metatrader .banner-block {
    padding-top: 45px;
    padding-bottom: 40px;
    background: url('/sites/all/themes/finq2020/Content/Images/Pages/mac-metatrader/mobile/mac-mt-bg-mobile.jpg') no-repeat center / cover;
  }
  #mac-metatrader .banner-block .text-area {
    width: 100%;
  }
  #mac-metatrader .banner-block .text-area p {
    padding-bottom: 20px;
  }
  #mac-metatrader .banner-block .text-area .logo-mobile {
    text-align: center;
    padding-bottom: 35px;
  }
  #mac-metatrader .banner-block .img-area {
    display: none;
  }
  #mac-metatrader .how-to-install {
    padding-top: 35px;
    padding-bottom: 100px;
  }
  #mac-metatrader .how-to-install .block-row .img-area .show-mobile {
    display: inline-block !important;
  }
  #mac-metatrader .how-to-install .block-1 {
    padding-bottom: 50px;
  }
  #mac-metatrader .how-to-install .block-2 {
    padding-bottom: 70px;
  }
  #mac-metatrader .how-to-install .block-3 {
    padding-bottom: 65px;
  }
}
/*# sourceMappingURL=mac-metatrader.css.map */