.platforms .theme-tabs {
  margin: 130px 0 150px;
}
.platforms .theme-tabs .theme-tabs-content {
  padding: 40px 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.platforms .theme-tabs .theme-tabs-content h2 {
  margin: 0 0 30px;
}
.platforms .theme-tabs .theme-tabs-content p {
  margin-bottom: 10px;
}
.platforms .theme-tabs .theme-tabs-content .btn {
  margin-top: 50px;
  font-size: 23px;
  padding: 12px 50px;
}
.platforms .theme-tabs .theme-tabs-content .apps {
  margin-top: 40px;
}
.platforms .theme-tabs .theme-tabs-content .apps b {
  margin-bottom: 15px;
}
.platforms .theme-tabs .theme-tabs-content .apps a img {
  padding: 10px;
  height: 40px;
}
.platforms .theme-tabs .theme-tabs-content .mt4-app {
  margin-top: 40px;
}
.platforms .theme-tabs .theme-tabs-content .mt4-app b {
  margin-bottom: 15px;
}
.platforms .theme-tabs .theme-tabs-content .mt4-app .btn {
  margin-top: 0;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav {
  cursor: pointer;
  margin: 40px 0 30px;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav img {
  margin: auto;
  display: block;
  max-width: 100%;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav img.active {
  display: none;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav.active img {
  display: none;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav.active img.active {
  display: block;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav span {
  font-size: 23px;
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 10px;
}
.platforms .theme-tabs .theme-tabs-nav .theme-tab-nav:not(.active) span {
  color: #858282;
}
@media all and (max-width: 1180px) {
  .platforms .theme-tabs {
    margin: 30px 0 50px;
  }
}
@media all and (max-width: 500px) {
  .platforms .alert-light-gray {
    background-color: transparent;
  }
  .platforms .theme-tabs .theme-tabs-content {
    box-shadow: none;
    padding: 0;
  }
  .platforms .theme-tabs .theme-tabs-content .theme-tab {
    display: block !important;
  }
  .platforms .theme-tabs .theme-tabs-content .theme-tab .img {
    margin: 100px auto 10px;
  }
  .platforms .theme-tabs .theme-tabs-content .theme-tab .img img {
    margin: 0 auto;
    display: block;
  }
  .platforms .theme-tabs .theme-tabs-content .theme-tab h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 10px;
    text-align: center;
  }
  .platforms .theme-tabs .theme-tabs-content .theme-tab .btn,
  .platforms .theme-tabs .theme-tabs-content .theme-tab .apps {
    font-size: 23px;
    margin-top: 10px;
    padding: 12px 50px;
  }
}